{% extends 'base/base.html.twig' %}

{% block body %}
    <h1>Hello {{ page.title }}! ✅</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab culpa eaque error et eveniet explicabo impedit
        magnam minus molestias, necessitatibus, nobis obcaecati quasi quibusdam quidem rerum sequi sit soluta ullam
        vitae? Eligendi et exercitationem inventore, labore natus neque nisi nobis non rem sequi soluta voluptatem.
        Deserunt dolor dolorum fugit in necessitatibus quos sapiente similique. Alias animi aut doloremque, ducimus
        earum eius excepturi fugiat illo ipsa. Ab alias aliquam amet aperiam blanditiis consequatur delectus distinctio
        dolore doloribus est eveniet ipsam ipsum laudantium maxime minima molestiae nihil nulla numquam officiis placeat
        possimus provident quae quaerat quibusdam recusandae reiciendis, rem repellat rerum sapiente sunt suscipit ullam
        veritatis voluptates! Cumque dolor hic laboriosam molestiae quam quasi veritatis voluptates. Alias blanditiis
        distinctio excepturi incidunt, nesciunt nisi perspiciatis porro quas voluptatum? Ad alias assumenda at aut autem
        beatae dicta distinctio dolor dolore dolorem doloremque ea et ex expedita explicabo hic ipsum itaque laborum
    </p>

    <h2 class="text-3xl font-bold mt-7 mb-3">Czyli jak?</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab culpa eaque error et eveniet explicabo impedit
        magnam minus molestias, necessitatibus, nobis obcaecati quasi quibusdam quidem rerum sequi sit soluta ullam
        vitae? Eligendi et exercitationem inventore, labore natus neque nisi nobis non rem sequi soluta voluptatem.
        Deserunt dolor dolorum fugit in necessitatibus quos sapiente similique. Alias animi aut doloremque, ducimus
        earum eius excepturi fugiat illo ipsa. Ab alias aliquam amet aperiam blanditiis consequatur delectus distinctio
    </p>

    <h2 class="text-3xl font-bold mt-7 mb-3">A więc od tego się zaczeło...</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab culpa eaque error et eveniet explicabo impedit
        magnam minus molestias, necessitatibus, nobis obcaecati quasi quibusdam quidem rerum sequi sit soluta ullam
        vitae? Eligendi et exercitationem inventore, labore natus neque nisi nobis non rem sequi soluta voluptatem.
        Deserunt dolor dolorum fugit in necessitatibus quos sapiente similique. Alias animi aut doloremque, ducimus
        earum eius excepturi fugiat illo ipsa. Ab alias aliquam amet aperiam blanditiis consequatur delectus distinctio
        dolore doloribus est eveniet ipsam ipsum laudantium maxime minima molestiae nihil nulla numquam officiis placeat
        possimus provident quae quaerat quibusdam recusandae reiciendis, rem repellat rerum sapiente sunt suscipit ullam
        veritatis voluptates! Cumque dolor hic laboriosam molestiae quam quasi veritatis voluptates. Alias blanditiis
        distinctio excepturi incidunt, nesciunt nisi perspiciatis porro quas voluptatum? Ad alias assumenda at aut autem
        beatae dicta distinctio dolor dolore dolorem doloremque ea et ex expedita explicabo hic ipsum itaque laborum
        magni maxime natus neque nihil nulla officia perferendis perspiciatis provident quaerat quam, qui quos
        reiciendis repudiandae sequi similique tempore veniam veritatis voluptatibus. Eos et mollitia non, quaerat
        reiciendis reprehenderit saepe. Adipisci aliquam aspernatur at atque commodi culpa cumque deserunt dolor dolorum
        eligendi enim eveniet fugiat hic impedit itaque iure natus non nulla obcaecati odio, perspiciatis placeat porro
        quidem quis recusandae reprehenderit tempora temporibus unde, veritatis voluptates? Animi architecto deleniti
        doloremque facere iure maxime mollitia nam officiis, ratione reiciendis saepe unde. Beatae commodi, delectus
        deleniti eaque esse laudantium molestiae natus provident tempore veniam. Animi cumque, illum inventore natus
        recusandae temporibus vitae. Aut quasi, suscipit! Laudantium provident, quo! Atque consectetur consequatur
        dolore enim, est facere fuga, id in incidunt, laborum mollitia neque non sapiente ullam vitae. Architecto
        dignissimos dolorem excepturi, fuga laudantium libero magnam minima molestias mollitia nobis, praesentium quia
        quis reprehenderit sint soluta tempore ullam ut. A accusantium aliquam assumenda eligendi expedita fugiat ipsa,

    </p>

    <h2 class="text-3xl font-bold mt-7 mb-3">Podsumowując</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab culpa eaque error et eveniet explicabo impedit
        magnam minus molestias, necessitatibus, nobis obcaecati quasi quibusdam quidem rerum sequi sit soluta ullam
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab culpa eaque error et eveniet explicabo impedit
        magnam minus molestias, necessitatibus, nobis obcaecati quasi quibusdam quidem rerum sequi sit soluta ullam
        vitae? Eligendi et exercitationem inventore, labore natus neque nisi nobis non rem sequi soluta voluptatem.
        Deserunt dolor dolorum fugit in necessitatibus quos sapiente similique. Alias animi aut doloremque, ducimus
        earum eius excepturi fugiat illo ipsa. Ab alias aliquam amet aperiam blanditiis consequatur delectus distinctio
    </p>
{% endblock %}
