{% extends 'base/base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <h1>
        Witaj na Kropli,
    </h1>

    <p>
        Jesteś w miejscu gdzie zgromadzam wiedzę zdobytą podczas mojej wędrówki po świecie IT. Każda podstrona to
        kropla wiedzy, która pomoże Ci rozwiązać problemy i rozwijać się jako programista.
    </p>

    <p>
        Znajdziesz tu trochę języka <strong>PHP</strong>, frameworka <strong>Symfony</strong>, dobrych praktyk
        programowania, ogólnie strefy IT i życia programisty.
    </p>

    <p>
        Moim celem jest dzielenie się wiedzą z innymi i pomaganie im w rozwoju ich umiejętności. Dlatego zachęcam Cię
        do regularnego odwiedzania naszej strony i czytania moich kropelek.
    </p>

{% endblock %}
