<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="dark">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>
        {% block title %}
            Welcome!
        {% endblock %}
    </title>

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

{# high contrast mode --> from-black to-darkgray bg-fixed dark:bg-gradient-to-tr dark:bg-black #}
<body class="text-gray-700 dark:bg-zinc-900 dark:text-gray-400 flex flex-col">

{% include 'base/header.html.twig' %}

<div class="container mx-auto flex grow pt-8">

    <aside class="basis-1/6 sticky top-20 self-start">
        {% include 'components/menu/side_menu.html.twig' %}
    </aside>


    <main class="basis-4/6 flex grow flex-col px-6">
        {% block body %}

        {% endblock %}
    </main>


    <aside class="basis-1/6 sticky top-20 self-start">
        Progress tracking here
    </aside>
</div>


{% include 'base/footer.html.twig' %}
</body>
</html>
