<footer class="z-40">
    <div class="container mx-auto mt-6 py-7">
        <footer class="p-4 md:flex md:items-center md:justify-between md:p-6">
            <span class="text-sm dark:text-gray-400 sm:text-center">
                ©
                {{ 'now'|date('Y') }}
                <a href="https://kropla.ml/" class="hover:underline">
                    Kropla
                </a>. All Rights Reserved.
            </span>
            {% set menu = knp_menu_get('main', []) %}
            {% do menu.setChildrenAttribute(
                'class',
                'flex h-full items-center gap-6'
            ) %}
            {{ knp_menu_render(menu, { currentClass: 'active' }) }}
        </footer>
    </div>
</footer>
