<footer class="z-40">
    <div class="container mx-auto mt-6 py-7">
        <footer class="p-4 md:flex md:items-center md:justify-between md:p-6">
            <span class="text-sm dark:text-gray-400 sm:text-center">
                ©
                {{ 'now'|date('Y') }}
                <a href="https://kropla.ml/" class="hover:underline">
                    Kropla.pl
                </a> All Rights Reserved.
            </span>
        </footer>
    </div>
</footer>
