<header class="supports-backdrop-blur:bg-white/60 sticky top-0 z-40 w-full bg-white/95 backdrop-blur dark:border-slate-50/[0.06] dark:bg-transparent lg:border-b lg:border-slate-900/10">
    <div class="menu container mx-auto flex justify-between px-3">
        {# Logos #}
        <div class="basis-1/6">
            <a href="{{ path('app_home') }}" class="">
                <img src="{{ asset('build/images/logo/wide-transparent-darkmode.webp') }}"
                     alt="Kropla logo for the dark mode"
                     class="logo hidden dark:block"/>
                <img src="{{ asset('build/images/logo/wide-transparent-lightmode.webp') }}"
                     alt="Kropla logo for the light mode"
                     class="logo dark:hidden"/>
            </a>
        </div>
        {# Main naviagiton menu #}
        <nav aria-label="Main navigation basis-5/6">
            {% set menu = knp_menu_get('main', []) %}
            {% do menu.setChildrenAttribute('class', 'flex h-full items-center gap-6') %}
            {{ knp_menu_render(menu, {'currentClass': 'active'}) }}
        </nav>
    </div>
</header>
