@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables.scss";
@import "assets/styles/scss/tailwind/_elements";
@import "extra/scrollbars";
@import "@fontsource/sen";


// ROOT

body {
  line-height: 1.75;
  font-family: "Sen", sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  p:first-child {
    margin-top: 0.9rem;
  }

  &.admin {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 14px;
    color: $admin-font-color-dark;
  }
}


// ADMIN UTILS

.no-round {
  border-radius: 0 !important;
  @each $direction in ['left', 'right','top','bottom'] {
    &-#{$direction} {
      border-bottom-#{$direction}-radius: 0 !important;
      border-top-#{$direction}-radius: 0 !important;
    }
  }
}

.animated-text-input {
  width: 100%;
  max-width: 400px;
  transition: .3s ease-in-out;
  border-left-width: 0;

  &:focus {
    outline: none;
    max-width: 60%;
  }

  &:last-of-type {
    border-radius: 0 0.5rem 0.5rem 0 !important;
  }
}

.button {
  &--add {
    min-width: 160px;
    padding-left: 2.5rem;

    &::before {
      position: absolute;
      font-family: "Phosphor", sans-serif;
      content: "\fd5f";
      font-size: 1.3rem;
      left: 0.7rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.ck-reset{
  font-family: inherit !important;
}

.ck-editor, .ck-editor__main, .ck-editor__editable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

// MISC

.menu {
  padding-block: 1rem;
}

.logo {
  width: 120px;
  height: auto;
}


// PAGE CONTENT

#page-title {
  padding-inline: 0.6rem;
}

#page-content {
  padding-inline: 0.6rem;
}
