@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/styles/scss/tailwind/_elements';
@import 'extra/scrollbars';
@import "@fontsource/sen";

body {
  line-height: 1.75;
  font-family: 'Sen', sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.menu {
  padding-block: 1rem;
}

.side-menu {
  height: calc(100vh - 10rem);
}

.logo {
  width: 120px;
  height: auto;
}
