@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables.scss";
@import "assets/styles/scss/tailwind/_elements";
@import "extra/scrollbars";
@import "@fontsource/sen";

// ROOT

body {
  line-height: 1.75;
  font-family: "Sen", sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  p, pre {
    margin-block: 2rem !important;
  }

  blockquote {
    opacity: .8;
    border-left: 5px solid rgba(133, 133, 133, 0.5);
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 2rem !important;

    p {
      margin-bottom: 0 !important;
    }
  }

  &.admin {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 14px;
    color: $admin-font-color-dark;
  }

  // aside
  aside.app-aside {
    transition: opacity .5s ease, transform .5s ease;
  }

  @media (max-width: 1024px) {
    /* styles for screens less than 1024 pixels wide */
    aside.app-aside {
      width: 95%;
      max-width: 600px;
      padding: 2rem;
      z-index: 10;
      position: fixed;
      transform: translateX(-50%);
      left: 50%;
      margin-top: 10px;
      max-height: 80vh;
      overflow-y: auto;


      &:target {
        background-color: red;
        left: 0;
      }
    }
  }

  @media (min-width: 1024px) {
    /* styles for screens more than 1024 pixels wide */
    &.scrolled {
      aside.app-aside {
        opacity: 0;
        transform: translateY(-20px);
      }
    }
  }

}

// ADMIN UTILS

.no-round {
  border-radius: 0 !important;
  @each $direction in [ "left", "right", "top", "bottom"] {
    &-#{$direction} {
      border-bottom-#{$direction}-radius: 0 !important;
      border-top-#{$direction}-radius: 0 !important;
    }
  }
}

.animated-text-input {
  width: 100%;
  max-width: 400px;
  transition: 0.3s ease-in-out;
  border-left-width: 0;

  &:focus {
    outline: none;
    max-width: 60%;
  }

  &:last-of-type {
    border-radius: 0 0.5rem 0.5rem 0 !important;
  }
}

.button {
  &--add {
    min-width: 160px;
    padding-left: 2.5rem;

    &::before {
      position: absolute;
      font-family: "Phosphor", sans-serif;
      content: "\fd5f";
      font-size: 1.3rem;
      left: 0.7rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// CK-EDITOR

.ck-reset {
  font-family: inherit !important;
}

.ck-editor,
.ck-editor__main,
.ck-editor__editable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
  top: 3rem;
  box-shadow: 2px 5px 13px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

// MISC

.menu {
  padding-block: 1rem;
}

body:not(.admin) {
  .logo {
    width: 120px;
    height: auto;
  }
}

.ckeditor-textarea {
  filter: blur(0.15rem);
  font-size: 0.9rem;
  border-top-width: 45px;
  border-top-color: #ececec !important;
  overflow-y: hidden;
}

// PAGE CONTENT
//
//#page-title {
//  padding-inline: 0.6rem;
//}
//
//#page-content {
//  padding-inline: 0.6rem;
//}

