<!DOCTYPE html>
<html style="" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Kropla Admin
        {% block title %}

        {% endblock %}
    </title>

    {% include 'base/encore.html.twig' %}
</head>
<body>
<div class="h-screen flex overflow-hidden">
    <aside class="min-w-[270px] bg-slate-800 relative h-full z-30 text-white p-6">
        <nav>
            <a href="{{ path('admin_panel') }}" class="font-semibold">
                <img src="{{ asset('build/images/logo/wide-transparent-darkmode.webp') }}"
                     alt="Kropla logo" class="logo inline -mt-3 mr-2"/>
                Admin
            </a>

            <ul class="mt-8">
                <li><a href="{{ path('admin_panel') }}">Test</a></li>
            </ul>
        </nav>
    </aside>
    <div class="flex flex-col overflow-y-auto relative z-0 grow">
        <header class="fixed w-full right-0 top-0 z-30 bg-white border-b border-gray-200 px-10 py-4 flex justify-end items-center">
            <span class="w-8 h-8 bg-secondary opacity-50 rounded-3xl mr-2"></span>
            {{ app.user.firstName }}
        </header>
        <main class="bg-neutral-100 p-12 pt-[90px] grow">
            {% block body %}
            {% endblock %}
        </main>
    </div>
</div>
</body>
</html>