<form method="post" class="inline-block"
  action="{{ path(routes.delete,{id: entity.id}) }}"
  onsubmit="return confirm('Czy napewno chcesz usunąć tę pozycję?');">
  <input type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ entity.id) }}" />
  <button class="{{ buttonClass|default('button button--light-danger') }}">
    <i class="ph-trash-bold scale-150"></i>
  </button>
</form>
