<header class="sticky top-0 w-full right-0 top-0 z-30 bg-white border-b border-gray-200 px-10 py-4 flex justify-between items-center">
    <h1 class="m-0 text-xl">
        {% block header %}
            Admin Panel
        {% endblock %}
    </h1>
    <div class="flex items-center">
        <span class="w-8 h-8 bg-secondary opacity-50 rounded-3xl mr-2"></span>
        {{ app.user.firstName }}
    </div>
</header>