{% extends 'admin/panel.html.twig' %}

{% block title %}
    Detale : {{ entity.title }}


{% endblock %}


{% block body %}

    <div class="flex  gap-4 mb-5">
        {% include('admin/components/_delete_form.html.twig') %}
        <a class="button button--info" href="{{ path(routes.edit,{id: entity.id}) }}">
            Edycja
        </a>
        <a class="button" href="{{ path(routes.index) }}">Powrót</a>
    </div>

    {{ tr_table_render(table,'table') }}

{% endblock %}
