{% extends 'admin/panel.html.twig' %}

{% block title %}
    Detale : {{ page.title }}


{% endblock %}


{% block body %}

    <div class="flex  gap-4 mb-5">
        <a class="button" href="{{ path('admin_page_index') }}">Powrót</a>
        <a class="button button--info" href="{{ path('admin_page_edit',{id: page.id}) }}">
            Edycja
        </a>
        {% include('admin/components/_delete_form.html.twig') with {'text': 'Skasuj'} %}
    </div>

    {{ tr_table_render(table,'table') }}

{% endblock %}
