{% extends 'admin/panel.html.twig' %}

{% block title %}
    Edytuj : {{ entity }}
{% endblock %}

{% block body %}

    {#  Custom form support#}
    {% if form.vars.attr.template is defined %}
        {% include form.vars.attr.template %}
    {% else %}
        {{ form_start(form) }}
        <div class="w-full flex justify-end gap-3">
            <a class="button" href="{{ path(routes.index) }}">Powrót</a>
            <a class="button" href="">
                <i class="ph-eye-bold scale-150 mr-3"></i> Podgląd
            </a>
            <button class="button button--info">Zapisz</button>
        </div>
        {{ form_end(form) }}
    {% endif %}


{% endblock %}
