<a href="{{ path('app_home') }}" class="">
    <img src="{{
    asset(
        'images/logo/wide-transparent-darkmode.webp'
    )
    }}"
         alt="Kropla logo for the dark mode"
         class="logo hidden dark:block" />
    <img src="{{
    asset(
        'images/logo/wide-transparent-lightmode.webp'
    )
    }}"
         alt="Kropla logo for the light mode"
         class="logo dark:hidden" />
</a>