h1 {
  @apply text-[3rem] font-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-black dark:text-white;
}

@for $i from 1 through 6 {
  $unit: "rem";
  $header-size: 3 - ($i * 0.3) + $unit;
  $line-height: 1 + ($i * 0.05);

  h#{$i} {
    @apply text-[#{$header-size}] leading-[#{$line-height}] mb-3;
  }
}

p {
  @apply mb-5;
}

b,
strong {
  @apply text-secondary;
}
