<form method="post" class="inline-block"
  action="{{ path('admin_page_delete',{id: page.id}) }}"
  onsubmit="return confirm('Czy napewno chcesz usunąć tę pozycję?');">
  <input type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ page.id) }}" />
  <button class="button button--light-danger">Usuń</button>
</form>
