{% extends 'admin/panel.html.twig' %}

{% block title %}
    - Pages
{% endblock %}

{% block header %}
    Lista stron
{% endblock %}

{% block body %}
    <div class="">

        <a href="{{ path('app_admin_page_new') }}">Create new</a>

        {{ tr_table_render(table,'w-full table') }}
    </div>
{% endblock %}
